body {

    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

h1 {

    font-family: 'Fraunces', serif;
    margin-left: 20px;
}

.main-content {

    display: block;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {

    color: hsl(228, 12%, 48%);
    padding-right: 10px;
    margin-left: 20px;
    line-height: 1.5em;
}

.preview {

    color: hsl(228, 12%, 48%);
    letter-spacing: 6px;
}

.sale-price {

    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    margin: 20px;
}

.original-price {

    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: relative;
    left: 11em;
    bottom: 3em;
}

button {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-bottom: 2em;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    width: 85%;
    height: 3.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: hsl(159, 45%, 24%);
}

button img {

    position: relative;
    left: -1em;
    top: 0.2em;
}

#img1 img {
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: bottom;
}

@media screen and (max-width: 375px) {

    .main-content {
        max-width: 375px;
        width: 100%;
    }

    #img1 img {
        display: none;
    }

    #img2 img {
        max-width: 375px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: contain;
        
    }

    .text-content {
        padding: 10px;
    }
}

@media screen and (min-width: 376px) {

    #img1 {
        left: 0;
        top: 0;
        max-width: 600px;
        width: 100%;
        
    }

    #img2 {
        display: none;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        max-width: 1400px;
        width: fit-content;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: right;
        justify-content: space-around;
        max-width: 600px;
    }

    h1 {
        font-size: 3em;
    }

    .description {

        font-size: 1.5em;
        line-height: 1em;
    }

    .sale-price {
        font-size: 3em;
    }

    .original-price {
        position: absolute;
        top: 45em;
        left: 39em;
    }
}


